.bar {
  width: 20px;
  margin: 0 1px;
  background-color: DeepSkyBlue;
}

.bar-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  height: 600px;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.title-container{
  display: flex;
  justify-content: center;
}

.MuiButton-contained {
  text-transform: none !important;
}